@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<h2>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите сюда, чтобы подтвердить решистрацию</a>
</h2>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

