main_href {
    font-family: Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 40px;
}


.topbar {
    left: 0px;
    top: 0px;
    z-index: 500;
    position: fixed;
    height: 7.5%;
    width: 100%
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 40px;
    font-weight: normal; 
    text-align: center 
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

.main_href {
    width: 15%;
    border: 1px solid #333;
    padding: 1%;
    text-align: center;
}

.main_href1 {
    width: 56%;
    border: 1px solid #333;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recipes{
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    text-align: center;

}
.KTS_href {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EF1702;
    color: white;
}

.compound {
    width: 15%;
    height : 93%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    color: #707070;
    right: 0;
    top: 7%;
    position: fixed;
    background-color: #82C777;
}

.main_window {
    scroll-behavior: smooth;
    overflow: auto;
    min-height: 200vh;
}

.new_recipe {
    width: 18em;
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    background-color: #82C777;
}

    .new_recipe:hover {
        background-color: #99eb8c;
        color: black;
    }

a {
    text-decoration: none;
    color:black
}

.toolbar {
    position: fixed;
    z-index: 400;
    text-align: center;
    color: #000000;
    top: 7.5%;
    left: 0px;
    border-bottom: 1px solid #ffffff;
    width: 85%;
    height: 0%;
}

.toolbar_inner {
    font-size: 40px;
    padding: 10px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        width: 16.5%;

        padding-bottom: 2%;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

.base {
    margin-top: 10%;
    width: 85%;
}


.percents {
    width: 85%;
    height: 1%;
}

.number{
    width: 10%;
}