
@page

@model FUNTIK.Pages.Contacts.IndexModel
@{
	ViewData["Title"] = "MainPage";
}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Funtic</title>
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
	<div class="main_window">
		<div class="recipes">
			<h1>Рецепты</h1>
			
			<div class="new_recipe">
				<main_href><a href="https://localhost:44396/NewRecipe">Новый Рецепт</a></main_href>
			</div>

			<h1>Мои рецепты</h1>
			<table class="table">
            
            <tbody>
        @foreach (var item in Model.Recipe) 
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    </tr>
                }
            </tbody>
        </table>

		</div>
	</div>
</body>
</html>
