@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model FUNTIK.Pages.MainPageModel
@{
	ViewData["Title"] = "Мои рецепты";
}
<!doctype html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Funtic</title>
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>
@if (SignInManager.IsSignedIn(User))
{
<body>
	<div class="main_window">
		<div class="recipes">
			<h1>Рецепты</h1>
			
			<div class="new_recipe">
				<main_href><a href="~/NewRecipe">Новый Рецепт</a></main_href>
			</div>

			<h1>Мои рецепты</h1>
			<table class="table">
            
            <tbody>
		    @foreach (var recipe in Model.Recipes)
            {
				<a style="margin-top: 1%; margin-bottom: 1%; padding-top: 1%; padding-bottom: 1%; font-size:3.5ex; border: 2px solid black; background-color: #D7D7D7;" href="@String.Format("/Recipe?RecipeId={0}", recipe.Id)">@recipe.Name</a>
            }
            </tbody>
        </table>

		</div>
	</div>

	</body>
}
else
{
    <body>
            <div class="no_access">
                 <h2> У вас еще нет сохраненных рецептов. Войдите или зарегистрируйтесь!</h2> 
            </div>
    </body>
}
</html>
