@page
@model FUNTIK.Pages.RecipeModel
@{
     ViewData["Title"] = "Recipe";
}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Funtic</title>
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
	<div class="main_window">
		<div class="links">
            <main_href><a href="https://localhost:44396/MainPage">Funtic</a></main_href>
            <main_href><a href="https://localhost:44396/MainPage">Печать</a></main_href>
            <main_href><a href="https://localhost:44396/NewRecipe">Редактировать</a></main_href>
        </div>
	</div>
</body>
</html>